*{
    box-sizing: border-box;
}

body{
    color: white;
}
/*--------------Header/Navigation---------------*/
header{
    display: flex;
    flex-direction: row;
    background-color: #29516D;
    height: 10vmax;
}
nav{
    display: flex;
    flex-direction: row;
}
li .menuItem{
    display: flex;
    color: white;
}
/*--------------------Main----------------------*/
main{
    display: flex;
    flex-direction: column;
    height: 140rem;
}
section{
    display: flex;
    flex-direction: row;
    height: 70rem;
}
.s1{
    display: flex;
    background-color: #032136;
}
.s2{
    display: flex;
    background-color: #032136;
}
.s3{
    display: flex;
    background-color: #032136;
}
/*-------------------Footer----------------------*/
footer{
    display: flex;
    flex-direction: row;
    background-color: #29516D;
    height: 20vmax;
}