*{
    box-sizing: border-box;

}

@media screen and (max-width: 600px) {

}
/*--------------Header/Navigation---------------*/
a{
    display: flex;
    text-decoration: none;
    font-size: 100%;
    color: #EEF7FF;
    transition: color 1s;
}
a:hover{
    text-decoration: none;
    color: #EEF7FF;
}
.active{
    color: #052137;
}
.nonActive:hover{
    color: #052137;
}
header{
    display: flex;
    flex-direction: row;
    background-color: #29506D;
    justify-content: flex-end;
    height: 10vmax;
    width: 100%;
}
.menuItem{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10%;

}
nav{
    display: flex;
    background-color: #29506D;
    width: 50vw;
    justify-content: center;
}
/*--------------------Main----------------------*/
#box{
    display: flex;
    background-color: #EEF7FF;
    height: 100px;
    width: 100px;
}
main{
    display: flex;
    flex-direction: column;
    height: 140rem;
}
section{
    display: flex;
    flex-direction: row;
    height: 70rem;
}
.s1{
    display: flex;
    background-color: #052137;
    justify-content: flex-end;
}
.s2{
    display: flex;
    background-color: #052137;
}
.s3{
    display: flex;
    background-color: #052137;
}
/*-------------------Footer----------------------*/
footer{
    display: flex;
    flex-direction: row;
    background-color: #29516D;
    height: 20vmax;
}